<p>movies works!</p>
<!-- https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-accordion.php -->
 <!-- <div class="accordion" id="myAccordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">1. What is HTML?</button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
            <div class="card-body">
                <p>HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages. <a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">2. What is Bootstrap?</button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#myAccordion">
            <div class="card-body">
                <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">3. What is CSS?</button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
            <div class="card-body">
                <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
            </div>
        </div>
    </div>
</div>
 -->
<!--Accordion wrapper-->
<div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
    <div class="card">
      <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading96">
        <h5 class="text-uppercase mb-0 py-1">
          <a class="white-text font-weight-bold" data-toggle="collapse" href="./movies.component.html" aria-expanded="true"
            aria-controls="collapse96">
            A
          </a>
        </h5>
      </div>
      <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96"
        data-parent="#accordionEx23">
        <div class="card-body">
          <div class="row my-4">
            <div class="col-md-8">
              <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris</p>
              <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
            </div>
            <div class="col-md-4 mt-3 pt-2">
              <div class="view z-depth-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
        <h5 class="text-uppercase mb-0 py-1">
          <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97"
            aria-expanded="false" aria-controls="collapse97">
            B
          </a>
        </h5>
      </div>
      <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97"
        data-parent="#accordionEx23">
        <div class="card-body">
          <div class="row my-4">
            <div class="col-md-8">
              <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris</p>
              <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
            </div>
            <div class="col-md-4 mt-3 pt-2">
              <div class="view z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
        <h5 class="text-uppercase mb-0 py-1">
          <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98"
            aria-expanded="false" aria-controls="collapse98">
            C
          </a>
        </h5>
      </div>
      <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98"
        data-parent="#accordionEx23">
        <div class="card-body">
          <div class="row my-4">
            <div class="col-md-8">
              <h2 class="font-weight-bold mb-3 black-text">Hi! I am the third one.</h2>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris</p>
              <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
            </div>
            <div class="col-md-4 mt-3 pt-2">
              <div class="view z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Accordion wrapper-->
  