<h2>Top Shows To Watch This Week!</h2>
<ngb-carousel>
	<ng-template *ngFor="let movie of showsTopShows" ngbSlide>
		<div *ngFor="let m of movie.items" class="picsum-img-wrapper">
			<!-- <img src={{m.titles[0].image}} alt={{m.titles[0].title}}> -->
			<img src={{m.image}} alt={{m.title}}>
		</div>
	</ng-template>
</ngb-carousel>
<br>
<br><br>
<h2>Shows By Genre </h2>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
	<ngb-panel title="{{item}}" *ngFor="let item of genres">
	  <ng-template ngbPanelContent>
		test
	  </ng-template>
	</ngb-panel>
  </ngb-accordion>