<h2>Top Shows To Watch This Week!</h2>
<ngb-carousel>
	<ng-template *ngFor="let movie of showsTopShows" ngbSlide>
		<div *ngFor="let m of movie.items" class="picsum-img-wrapper">
			<!-- <img src={{m.titles[0].image}} alt={{m.titles[0].title}}> -->
			<img src={{m.image}} alt={{m.title}}>
		</div>
	</ng-template>
</ngb-carousel>
<br>
<br><br>
<h2>Shows By Genre </h2>
<br>
<h3>Action</h3>
<div *ngFor="let show of actionGenre" class="card-deck justify-content-center">
	<div *ngFor="let s of show.items" class="card mb-4">
		<img class="card-img-top img-fluid" src={{s.i.imageUrl}} alt={{s.l}}>
		<div class="card-body">
			<h5 class="card-title">{{s.l}}</h5>
			<p class="card-text">Cast: {{s.s}}</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated Just Now</small>
		</div>
	</div>
	<br><br>
</div>
<br>
<h3>Adventure</h3>
<div *ngFor="let show of adventureGenre" class="card-deck justify-content-center">
	<div *ngFor="let s of show.items" class="card mb-4">
		<img class="card-img-top img-fluid" src={{s.i.imageUrl}} alt={{s.l}}>
		<div class="card-body">
			<h5 class="card-title">{{s.l}}</h5>
			<p class="card-text">Cast: {{s.s}}</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated Just Now</small>
		</div>
	</div>
	<br><br>
</div>
<br>
<h3>Fantasy</h3>
<div *ngFor="let show of fantasyGenre" class="card-deck justify-content-center">
	<div *ngFor="let s of show.items" class="card mb-4">
		<img class="card-img-top img-fluid" src={{s.i.imageUrl}} alt={{s.l}}>
		<div class="card-body">
			<h5 class="card-title">{{s.l}}</h5>
			<p class="card-text">Cast: {{s.s}}</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated Just Now</small>
		</div>
	</div>
	<br><br>
</div>
<br>
<h3>Sci-Fi</h3>
<div *ngFor="let show of scifiGenre" class="card-deck justify-content-center">
	<div *ngFor="let s of show.items" class="card mb-4">
		<img class="card-img-top img-fluid" src={{s.i.imageUrl}} alt={{s.l}}>
		<div class="card-body">
			<h5 class="card-title">{{s.l}}</h5>
			<p class="card-text">Cast: {{s.s}}</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated Just Now</small>
		</div>
	</div>
	<br><br>
</div>
<br>
<h3>Drama</h3>
<div *ngFor="let show of dramaGenre" class="card-deck justify-content-center">
	<div *ngFor="let s of show.items" class="card mb-4">
		<img class="card-img-top img-fluid" src={{s.i.imageUrl}} alt={{s.l}}>
		<div class="card-body">
			<h5 class="card-title">{{s.l}}</h5>
			<p class="card-text">Cast: {{s.s}}</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated Just Now</small>
		</div>
	</div>
	<br><br>
</div>