<nav class="navbar navbar-expand navbar-dark" style="background-color: #000000;">
	<img class="logo" src="./assets/Images/logo.png">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item ">
			<a [routerLinkActive]='activeClass' class="nav-link" routerLink='home'>Home</a>
		</li>
		<li class="nav-item">
			<a [routerLinkActive]='activeClass' class="nav-link" routerLink='movies'>Movies</a>
		</li>
		<li class="nav-item">
			<a [routerLinkActive]='activeClass' class="nav-link" routerLink='shows'>Shows</a>
		</li>
		
	</ul>
</nav>